body
{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: #f0f0f0;
}

#header-container
{
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	background: #ffffff;
	height: 65px;
}

#name
{
	float: left;
	width: 25%;
	background-color: #4aaaa5;
	padding: 20px 0px;
	color: white;
	font-size: 25px;
	font-weight: bolder;
	margin-left: 10%;
	margin-right: 20%;
	text-align: center;
}

#nav-menu
{
	width: 270px;
	padding: 24px 0px;
	font-size: 16px;
	margin: 0px 32px;
	text-decoration: none;
	text-align: center;
	float: left;
}

#top-hr
{
	clear: both;
	border: 1px solid #cccccc;
	margin: 0px;
}

a {
    color: #999999;
    text-decoration: none;
}

#main-body {
	clear: both;
	margin-left: 10%;
}

h2 {
	color: #4aaaa5;
	font-weight: bold;
	font-size: 25px;
}

#about-me, #portfolio, #contact {
	float: left;
	background: #ffffff;
	padding: 25px;
	width: 50%;
	margin: 20px 0px;
}

form
{
	margin-top: 20px;
}

input[type=text],
input[type=email],
textarea
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit]
{
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sample-image
{
	padding: 10px;
	width: 40%;
	height: 25%;
}

#portfolio p
{
	position: absolute;
	width: 180px;
	bottom: 20px;
	padding: 20px;
	background: #4aaaa5;
	color: white;
	text-align: center;
}

.about-me-text
{
	padding-top: 10px;
	line-height: 150%;
}

#my-photo
{
	float: left;
	margin: 10px 20px 20px 0px;
}

h3
{
	color: #4aaaa5;
	font-weight: bold;
	font-size: 16px;
}

#connect
{
	float: left;
	background: #ffffff;
	padding: 20px;
	width: 160px;
	margin: 20px;
	font-size: 16px;
	text-align: center;
}

.icon
{
	height: 35px;
	width: 35px;
	padding: 5px;
	margin: 0 auto;
}

footer
{
	border-top: 6px solid;
	border-color: #4aaaa5;
	padding: 20px 0px;
	position: fixed;
	bottom: 0;
	font-size: 11px;
	background: #666666;
	width: 100%;
	color: #b5b5bf;
	text-align: center;
}

